<div style="opacity: 1; transform: none;">
    <div class="rounded-lg border w-full bg-black dark:bg-[#00ff00] text-[#00ff00] dark:text-black">
        <div class="p-4 flex flex-col items-center">
            <h2 class="text-lg font-medium mb-1 text-center">
            join katon's list
            </h2>
            <p class="mb-3 text-xs text-center">
                sporadic emails where i talk about what i'm working on
                (usually ai coding, independent development and saas)
            </p>
            <form class="w-full max-w-sm relative">
                <div class="relative">
                    <svg class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2"
                         viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"></path>
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"></path>
                    </svg>
                    <input class="flex h-9 rounded-md border px-3 py-1 shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 w-full pl-10 text-sm bg-black dark:bg-[#00ff00] text-[#00ff00] dark:text-black border-[#00ff00] dark:border-black placeholder:text-[#00ff00]/70 dark:placeholder:text-black/70"
                           placeholder="type your email and hit enter to join" type="email" value="">
                </div>
            </form>
        </div>
    </div>
</div>